<h1>About Us</h1>
<p>
  <a href="https://www.ordina.be/">We are Ordina !!</a>
  We grew up in a small town in the south of Belgium during the twentieth century.
  From computer to computer we naturally ended up in a computer science classroom.
  And... I'm out of imagination so... just do your tests and don't read this...
</p>