<h1>Contact</h1>
<p>
  Well, I guess that the 200 links to 
  <a href="https://www.ordina.be/">Ordina Belgium website</a> are not sufficient.
  So, please just follow the links and click on "Contact us"... not so complex, is it???
</p>