<h1>Test automation sample app</h1>

<p>
  Welcome!!  Feel free to explore the huge amount of possibilities this app brings to you.
  Don't forget to visit 
  <a href="https://www.ordina.be/">Ordina Belgium website</a>.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>